

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: darkgreen;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: monospace;
}




.title {
    padding: 50px;
    text-align: center;
    color: green;
    font-family: monospace;
}


.aboutme {
    padding: 20px;
    background-color: darkgreen;
    border: 5px solid white;
    border-radius: 25px;
    color: white;
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.5;
}


#solosis-container {
    display: block;
    margin: 20px auto;
    width: 300px; 
    height: 300px;
}


.contact-link {
    display: block;
    text-align: center;
    margin: 30px 0;
    font-size: 1.2rem;
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.contact-link:hover {
    color: blue;
}
